<p>Hi<%= @user.name.present? ? " #{@user.name}" : "" %>,</p>
<p>Your team <strong><%= @team.name %></strong> is now on Cursor Help Pro. All team members can use Agent Clone exports.</p>
<p><a href="<%= @billing_url %>">View billing</a></p>
